<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


</head>

<body class="bg-white outline outline-black/5 dark:bg-gray-950">
  <h1 class="te">
    Hello world!
  </h1>
  <h1 class="text-3xl font-bold underline text-clifford">
    THIS IS ADMINISTRATION APP!
  </h1>
  <section
    class="@container mx-auto rounded-3xl bg-black/5 p-2 outline outline-white/15 backdrop-blur-md dark:bg-white/10 w-[584px]">
    <div
      class="relative flex w-full flex-col rounded-2xl bg-white outline outline-black/5 dark:bg-gray-950 p-7 gap-6 items-center @xs:flex-row @xs:gap-8">
      <div class="flex flex-col items-center gap-6 p-7 md:flex-row md:gap-8 rounded-2xl">
        <div>
          <img class="size-48 shadow-xl rounded-md" alt=""
            src="https://tailwindcss.com/_next/static/media/cover.de1997f7.png" />
        </div>
        <div class="flex flex-col items-center md:items-start">
          <span class="text-2xl font-medium">Class Warfare</span>
          <span class="font-medium text-sky-500">The Anti-Patterns</span>
          <span class="flex gap-2 font-medium text-gray-600 dark:text-gray-400">
            <span>No. 4</span>
            <span>·</span>
            <span>2025</span>
          </span>
        </div>
      </div>
    </div>
  </section>

</body>

</html>